Repository MSP014/room_shader_rnd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, bandit, pip-compile-check

black:
  name: black
  entry: C:/Users/SpeLL/anaconda3/envs/shader_rnd/python.exe -m black
  language: system

isort:
  name: isort
  entry: C:/Users/SpeLL/anaconda3/envs/shader_rnd/python.exe -m isort
  language: system

flake8:
  name: flake8
  entry: C:/Users/SpeLL/anaconda3/envs/shader_rnd/python.exe -m flake8
  language: system

bandit:
  name: bandit
  entry: C:/Users/SpeLL/anaconda3/envs/shader_rnd/python.exe -m bandit
  language: system
  args:
  - -r
  - src
  - tools

pip-compile-check:
  name: pip-compile-check
  entry: C:/Users/SpeLL/anaconda3/envs/shader_rnd/python.exe -m piptools compile --no-header --quiet --dry-run requirements.in
  language: system
  pass_filenames: false
  always_run: false

Docs: Add README.md (Adapted from Case 01 reference)
  README.md
Due: none

Config: Update .gitignore to exclude internal documentation
  .gitignore
  protocols/Main Protocol - Quentin - Room Map Shader RnD.md
  protocols/_end.md
  protocols/_start.md
Due: none

Docs: Add voiceover script and update tutorial status
  docs/project_houdini_tutorial.md
  docs/voiceover_script.md
Due: none

docs: set up shader r&d structure and documentation. fix jira tools unicode support.
  .gitignore
  docs/knowledge_base/room_map_shader_rnd.md
  docs/plans/shader rnd - implementation.md
  tools/jira_link.py
Due: black, isort, flake8, bandit

config: refine internal directory labels in gitignore
  .gitignore
Due: none

Update .gitignore: Add Adobe file directories
  .gitignore
Due: none

feat: standardise asset infrastructure (protocol v10) - add gitkeep skeleton, update gitignore, ADR-005 and README
  .gitignore
  README.md
  assets/.gitkeep
  assets/_external/.gitkeep
  docs/adr/005-asset-hydration.md
Due: none

chore: standardize repo naming and enforce safety in sync_jira
  README.md
  tools/sync_jira.py
Due: black, isort, flake8, bandit

docs: restructure knowledge base for public repository
  .gitignore
  docs/knowledge_base/README.md
  docs/knowledge_base/room_map_shader_rnd.md
  docs/plans/README_Enhancement_Task.md
  docs/plans/Technical Debt - Shader RND.md
  docs/plans/project_houdini_tutorial.md
  docs/plans/project_rnd_room_map_shader.md
  docs/plans/voiceover_script.md
Due: none

docs: add donation support link to README
  README.md
Due: none

docs: fix broken links in knowledge base README
  docs/knowledge_base/README.md
Due: none

docs: rewrite knowledge base as narrative document
  docs/knowledge_base/README.md
Due: none

docs: rewrite READMEs with universal language and ethical context
  README.md
  docs/knowledge_base/README.md
Due: none

docs: add Technical Stack and consolidate planning
  .gitignore
  README.md
  docs/plans/README_Enhancement_Task.md
  docs/plans/Technical Debt - Shader RND.md
  docs/plans/room_map_shader_tutorial/project_houdini_tutorial.md
  docs/plans/room_map_shader_tutorial/voiceover_script.md
  docs/plans/shader rnd - tech debt.md
Due: none

docs: sync implementation plan with Jira status\n\nUpdated project roadmap to reflect completed documentation deliverables (KRM-83) and new strategy formulation task (KRM-84).
  docs/plans/rnd - implementation.md
Due: none

docs: define Hybrid Geometry Context Strategy (ADR 001)
  README.md
  docs/adr/001-hybrid-geometry-context.md
Due: none

docs: define Hybrid Geometry Context Strategy (ADR 001)
  docs/adr/001-hybrid-geometry-context.md
Due: none

docs: finalize Parallax Mapping math strategy and ADR naming
  README.md
  docs/adr/006-hybrid-geometry-context.md
  docs/adr/007-vop-to-mdl-parallax-logic.md
Due: none

docs: add Surface Material Integration section to ADR-007 (KRM-80)
  docs/adr/007-vop-to-mdl-parallax-logic.md
Due: none

Refresh Room Map RnD inventory
  .flake8
  .gitignore
  .pre-commit-config.yaml
  docs/adr/001-naming-convention.md
  docs/plans/rnd - implementation.md
  docs/plans/shader rnd - tech debt.md
  docs/png/roommap_debug.1001.png
  docs/png/roommap_debug.1002.png
  docs/png/roommap_debug.1003.png
  docs/png/roommap_debug.1004.png
  docs/png/roommap_debug.1005.png
  docs/png/roommap_debug.1006.png
  docs/png/roommap_debug.1007.png
  docs/png/roommap_debug.1008.png
  requirements.txt
  tools/mcp/README.md
  tools/mcp/kit_mcp_client.py
  tools/mcp/mcp_http_client.py
  tools/mcp/omni_ui_mcp_client.py
  tools/mcp/usd_mcp_client.py
Due: black, isort, flake8, bandit, pip-compile-check

Remove obsolete Room Map debug renders
  docs/png/roommap_debug.1001.png
  docs/png/roommap_debug.1002.png
  docs/png/roommap_debug.1003.png
  docs/png/roommap_debug.1004.png
  docs/png/roommap_debug.1005.png
  docs/png/roommap_debug.1006.png
  docs/png/roommap_debug.1007.png
  docs/png/roommap_debug.1008.png
Due: none

Prepare Omniverse USD Room Map baseline
  .gitignore
  README.md
  docs/img/msk_150_omniverse.jpg
  docs/plans/rnd - implementation.md
  docs/plans/shader rnd - implementation.md
  requirements.in
  requirements.txt
  tests/test_sync_jira.py
  tools/sync_jira.py
Due: black, isort, flake8, bandit, pip-compile-check

Add MDL state diagnostics and camera bridge
  docs/knowledge_base/mdl/camera_position_bridge.md
  docs/knowledge_base/mdl/hello_world.md
  docs/knowledge_base/mdl/state_functions.md
  src/mdl/diagnostics/camera_direction_as_colour.mdl
  src/mdl/diagnostics/direction_as_colour.mdl
  src/mdl/diagnostics/normal_as_colour.mdl
  src/mdl/diagnostics/position_as_colour.mdl
  src/mdl/diagnostics/uv0_as_colour.mdl
  src/mdl/hello_world.mdl
  tests/test_camera_position_bridge.py
  tests/test_hello_world_material.py
  tests/test_jira_link.py
  tests/test_state_diagnostics.py
  tools/jira_link.py
  tools/omniverse/camera_position_bridge.py
Due: black, isort, flake8, bandit

Establish Room Map MDL parallax baseline
  README.md
  docs/img/krm88/krm88_01.png
  docs/img/krm88/krm88_02.png
  docs/img/krm88/krm88_03.png
  docs/img/krm88/krm88_04.png
  docs/img/krm88/roommap_debug.1001.png
  docs/knowledge_base/mdl/001_hello_world.md
  docs/knowledge_base/mdl/002_state_functions.md
  docs/knowledge_base/mdl/003_camera_position_bridge.md
  docs/knowledge_base/mdl/004_primvar_access.md
  docs/knowledge_base/mdl/005_single_room_parallax.md
  src/mdl/diagnostics/primvar_as_colour.mdl
  src/mdl/room_map_single.mdl
  tests/test_primvar_access.py
  tests/test_room_map_single.py
  tests/test_room_map_single.usda
  tools/jira_link.py
  tools/sync_jira.py
Due: black, isort, flake8, bandit

Reorder parallax proof gallery
  README.md
Due: none

Synchronise validated MDL baseline documentation
  README.md
Due: none

Add validated Room Map depth slices
  README.md
  docs/img/krm89/krm89_01.png
  docs/img/krm89/krm89_02.png
  docs/img/krm89/krm89_03.png
  docs/img/krm89/roommap_debug.1002.png
  docs/knowledge_base/mdl/006_depth_slices.md
  src/mdl/room_map.mdl
  tests/test_room_map_slices.py
  tests/test_room_map_slices.usda
Due: black, isort, flake8

Add deterministic Room Map variants
  README.md
  docs/adr/006-hybrid-geometry-context.md
  docs/adr/007-vop-to-mdl-parallax-logic.md
  docs/img/krm90/krm90_01.png
  docs/img/krm90/krm90_02.png
  docs/img/krm90/krm90_03.png
  docs/img/krm90/krm90_04.png
  docs/knowledge_base/README.md
  docs/knowledge_base/mdl/007_room_variants.md
  docs/plans/project_rnd_room_map_shader.md
  docs/plans/rnd_evidence_index.md
  src/mdl/room_map.mdl
  tests/test_room_map_variants.py
  tests/test_room_map_variants.usda
  tests/test_room_map_variants_houdini.py
  tests/test_room_map_variants_houdini.usda
Due: black, isort, flake8

Add window aperture controls and validation
  README.md
  docs/knowledge_base/mdl/003_camera_position_bridge.md
  docs/knowledge_base/mdl/008_window_apertures.md
  docs/plans/rnd_evidence_index.md
  src/mdl/room_map.mdl
  tests/.gitkeep
  tests/test_camera_position_bridge.py
  tests/test_jira_link.py
  tests/test_room_map_apertures.py
  tests/test_room_map_apertures.usda
  tests/test_room_map_apertures_houdini.py
  tests/test_room_map_apertures_houdini.usda
  tools/jira_link.py
  tools/omniverse/camera_position_bridge.py
Due: black, isort, flake8, bandit

Harden ORMS diagnostics and public framing
  .gitignore
  README.md
  assets/.gitkeep
  docs/adr/006-hybrid-geometry-context.md
  docs/knowledge_base/README.md
  docs/knowledge_base/mdl/003_camera_position_bridge.md
  docs/knowledge_base/mdl/005_single_room_parallax.md
  docs/knowledge_base/mdl/006_depth_slices.md
  docs/knowledge_base/mdl/007_room_variants.md
  docs/plans/rnd_evidence_index.md
  tests/test_camera_position_bridge.py
  tests/test_room_map_apertures.usda
  tests/test_room_map_apertures_houdini.py
  tests/test_room_map_apertures_houdini.usda
  tests/test_room_map_single.py
  tests/test_room_map_single.usda
  tests/test_room_map_slices.py
  tests/test_room_map_slices.usda
  tests/test_room_map_status_log.py
  tests/test_room_map_texture_assets.py
  tests/test_room_map_variants.py
  tests/test_room_map_variants.usda
  tests/test_room_map_variants_houdini.py
  tests/test_room_map_variants_houdini.usda
  tools/omniverse/camera_position_bridge.py
  tools/omniverse/status_log.py
Due: black, isort, flake8, bandit

Refine KRM-93 corner aperture cutouts
  src/mdl/room_map.mdl
  tests/krm_93/README.md
  tests/krm_93/mdl_compile_minimal.mdl
  tests/krm_93/run_mdl_compile_probes.py
  tests/krm_93/test_fixture_launcher_bundle.py
  tests/krm_93/test_room_run_classifier.py
  tests/krm_93/test_shared_room_classifier_fixtures.py
  tests/krm_93/test_shared_room_classifier_usd.py
  tools/omniverse/reload_room_map_runtime.py
  tools/omniverse/room_run_classifier.py
  tools/omniverse/shared_room_classifier.py
Due: black, isort, flake8, bandit

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  pip-compile-check: any of: ^requirements\.(in|txt)$
